assets/* filter=lfs diff=lfs merge=lfs -text
assets/textures/* filter=lfs diff=lfs merge=lfs -text
assets/fonts/**/*.ttf filter=lfs diff=lfs merge=lfs -text
video.png filter=lfs diff=lfs merge=lfs -text
