[package]
name = "de_game"
version = "0.1.0-dev"
edition = "2021"
authors = ["Martin Indra <martin.indra@mgn.cz>"]
readme = "README.md"
repository = "https://github.com/DigitalExtinction/Game"
keywords = ["DigitalExtinction", "gamedev", "game", "bevy", "3d"]
homepage = "https://de-game.org/"
description = "Digital Extinction (DE) is a 3D real-time strategy (RTS) game build with Bevy."
license = "GPL-3.0"
categories = ["games"]

[dependencies]
# DE
de_core = { path = "crates/core", version = "0.1.0-dev" }
de_objects = { path = "crates/objects", version = "0.1.0-dev" }
de_terrain = { path = "crates/terrain", version = "0.1.0-dev" }
de_loader = { path = "crates/loader", version = "0.1.0-dev" }
de_index = { path = "crates/index", version = "0.1.0-dev" }
de_pathing = { path = "crates/pathing", version = "0.1.0-dev" }
de_spawner = { path = "crates/spawner", version = "0.1.0-dev" }
de_movement = { path = "crates/movement", version = "0.1.0-dev" }
de_controller = { path = "crates/controller", version = "0.1.0-dev" }
de_camera = { path = "crates/camera", version = "0.1.0-dev" }
de_behaviour = { path = "crates/behaviour", version = "0.1.0-dev" }
de_attacking = { path = "crates/attacking", version = "0.1.0-dev" }
de_ui = { path = "crates/ui", version = "0.1.0-dev" }

# Other
bevy = "0.8"
iyes_loopless = "0.7"

[workspace]
members = ["crates/*"]
